# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# setting
Globals.py

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/